{% extends 'admin.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
<div class="wrapper site-min-height">
    <!-- page start-->
    <div class="chat-room mt">
        <div class="col-lg-12">
            <aside class="mid-side">
                <div class="chat-room-head">


                    <h1>Modifier Produit</h1>
                </div>

    {{ include('admin/_form.html.twig', {'button_label': 'Modifier'}) }}


            </aside></div></div></div>
{% endblock %}
